.container{
    width: 80vh;
    margin: auto
}

.container table{
    margin: auto;
}

#introText{
    width: 75vh;
    margin: auto;
    font-size: larger;
}

canvas{
    border: 1px solid brown;
}

body{
    background: black;
}

#gameScreen{
    display: block;
    image-rendering: pixelated;
    height: 70vh;
    margin: auto;
}

.controls_table{
    background-color: #fbe5e5;
    font-size: x-large;
}

.controls_table td{
    padding: 5px;
}

.text-intro{
    color: white;
}

.custom-context-menu{
    position: absolute;
    padding: 4px;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    border: 1px solid #dadada;
    width: 240px;
}

.ctx-menu-table-cell{
    padding-left:25px;
    padding-right:25px;
    padding-top: 2px;
    padding-bottom: 5px;
    font-family: 'Amiko';
    font-size: 13px;
}

tr.ctx-menu-table-row-border td{
    border-top: 1px solid #dadada;
}

div.custom-context-menu>table{
    border-collapse: collapse;
    width: 100%;
}

div.custom-context-menu>table tr.ctx-menu-table-row:hover{
    background-color: rgb(218, 220, 224);
    cursor: default;
}

.browser-Warning{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    display: none;
}

.browser-Warning>div{
    width: 30vh;
    margin: auto;
    padding-top: 3%;
}